@using BlogEngine.Core
<div class="Widget widget mailchimp">
	<h4 class="WidgetHeader widget-header">Subscribe to newsletter</h4>
	<div class="WidgetContent widget-content">
		<iframe src=@(Utils.AbsoluteWebRoot.AbsoluteUri + "custom/themes/standard-custom/src/mailchimp.html") frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="width: 100%"></iframe>
	</div>
	<script type="text/javascript" src=@(Utils.AbsoluteWebRoot.AbsoluteUri + "custom/themes/standard-custom/src/js/iframeResizer.min.js")></script>
	<script>iFrameResize()</script>
	<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
	<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function (L) { L.start({ "baseUrl": "mc.us19.list-manage.com", "uuid": "e6badaf38d06014e29c426ba3", "lid": "97ca52ab57", "uniqueMethods": true }) })</script>
</div>