@using BlogEngine.Core
<div class="Widget widget mailchimp">
	<h4 class="WidgetHeader widget-header">I work at</h4>
	<div class="WidgetContent widget-content iworkat">
		<a href="https://mastaq.com/?utm_source=spblog.net" target="_blank">
			<img src="~/Custom/Themes/Standard-Custom/src/img/mastaq.png" />
		</a>
	</div>
	<style>
		.iworkat {
			text-align: center;
		}

			.iworkat a {
				text-decoration: none !important;
				border: none !important;
				padding: 20px 60px;
			}

			.iworkat img {
				width: 120px;
			}
	</style>
</div>